<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="pg70" >

  <!-- common stuff -->
  <xacro:include filename="$(find erl_pg70)/urdf/common.xacro" />
  <xacro:include filename="$(find erl_pg70)/urdf/materials.urdf.xacro" />

  <!-- schunk pg70 -->
  <xacro:include filename="$(find erl_pg70)/urdf/pg70/pg70.urdf.xacro" />

  <!-- Used for fixing robot to Gazebo -->
  <link name="world"/>

  <!-- gripper -->
  <xacro:schunk_pg70 name="pg70" parent="world">
    <origin xyz="0 0 0.1" rpy="0 0 0" /> <!--slightly above gazebo plane-->
  </xacro:schunk_pg70>

</robot>
