<launch>

  <arg name="joy_dev" default="/dev/input/js0"/>
  <arg name="group_name" default="arm"/>
  <arg name="link_name" default="arm_ee_link"/>
  <arg name="frame_id" default="arm_podest_link"/>

  <!-- Launch joypad -->
  <node name="joy" pkg="joy" type="joy_node">
    <param name="dev" value="$(arg joy_dev)"/>
    <param name="autorepeat_rate" value="10"/>
    <param name="deadzone" value="0.2"/>
  </node>

  <node name="joy_to_twist" pkg="erl_jog_arm" type="joy_to_twist.py">
  </node>


</launch>
